#stein {
  width: 615px;
  margin-left: -55px;
}

.profile-wrap, .profile-wrap-right, .profile-wrap-jordan {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 2em;

  @media screen and (max-width: $break-medium) {
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
}

.profile-wrap-right {
  // float: right;
  margin-left: 2em;

  @media screen and (max-width: $break-medium) {
    float: none;
    margin-left: 0;
    margin: 0 auto;
  }
}

.profile-wrap-jordan {
  display: block;
  float: none;
  margin: 0 auto;
}

.profile {
  width: 400px;
  margin: 0 auto;
}

#manley {
  margin-left: -137px;
  margin-top: -12px;
  width: 500px;
}

#turri {
  margin-left: -135px;
}

#duprey {
  margin-left: -85px;
}

#haus {
  margin-left: -90px;
}

.jordan-profile {
  text-align: center;
  width: 400px;
  margin-left: -130px;
}

#jordan-action {
  width: 250px;

}

#jordan-bio {
  margin-top: 3em;
}

h1.jordan {
  width: 200px;
  text-align: center;
}

// .staff {
//   margin-bottom: 3em;
// }

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.about-text-block {

  @media screen and (max-width: $break-medium) {
    margin-bottom: 50px;
  }
}

.accomplishments-wrap {
  padding-left: 25px;

  @media screen and (max-width: $break-medium) {
    padding-left: 0px;
  }
}

.george-accomplishments {
  @media screen and (max-width: $break-medium) {
    padding-left: 15px;
  }
}

.video-wrap {
  iframe {
    @media screen and (max-width: $break-xsmall) {
      width: 250px;
      height: 141px;
    }
  }
}

.testimonial-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-intro-header {
  font-size: 50px;
  padding: 20px 10px;
}

.testimonial-wrap {
  .fa {
    font-size: 2em;
    padding-right: 20px;
  }

  .quote {
    font-size: 20px;
  }

  span {
    padding: 0 55px;
    display: inline-block;
  }

  .author {
    padding: 10px 55px;
    font-size: 16px;
    font-style: italic;

    &:before {
      content: '- '
    }
  }
}

@media screen and (max-width: $break-small) {
  .testimonial-wrap {
    .quote {
      font-size: 16px;
    }

    .author {
      font-size: 14px;
    }

    span {
      padding: 0 20px;
    }
  }

  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
}
