.clinic-wrap {
  padding: 2em;
  border-radius: 50px;
  height: 100%;
}

.black-lines {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  /*margin: 1em 0;*/
  margin: 0 auto;
  margin-top: 3em;
  padding: 0;
  width: 80%;
}

.upcoming-camps {
  margin-bottom: 2em;

  @media screen and (max-width: $break-small) {
    margin-bottom: 0;
  }
}

#google-map {
  iframe {
    @media screen and (max-width: $break-small) {
      width: 260px;
      height: 195px;
    }
  }
}
