.contact-icons {
  text-align: center;
}

.contact-icons p {
  text-align: center;
}

.contact-icon-wrap {
  background: rgb(0, 26, 87);
  width: 150px;
  height: 150px;
  line-height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.contact-icon {
  /*padding-right: 2em;*/
  width: 100px;
  vertical-align: middle;
}
