.table a:hover {
  text-decoration: none;
}

.current.asc:after {
  content: "\f0de";
  font: normal normal normal 14px/1 FontAwesome;
  color: black;
  padding-left: 5px;
  vertical-align: middle;
}

.current.desc:after {
  content: "\f0dd";
  font: normal normal normal 14px/1 FontAwesome;
  color: black;
  vertical-align: top;
  padding-left: 5px;
}
