<div class="container testimonial-container">
  <h1 class="testimonial-intro-header">Testimonials</h1>
  <div class="col-sm-12 testimonial-slider">
    <% @testimonials.each do |t| %>
      <div class="testimonial-wrap">
        <p class="quote">
          <i class="fa fa-quote-left"></i>
          <span><%= t.quote %></span>
        </p>
        <% unless t.author.empty? %>
          <p class="author"><%= t.author %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
