<div class="container-fluid">
  <div class="hero-img-wrap">
    <%#= image_tag 'hero.jpg', class: 'hero-img' %>
  </div>
  <div class="nav-wrap">
    <button type="button" class="btn btn-default nav-button vcenter">about</button>
    <button type="button" class="btn btn-default nav-button">clinics</button>
    <button type="button" class="btn btn-default nav-button">FAQ</button>
    <button type="button" class="btn btn-default nav-button">Contact</button>
  </div>
</div>

<div class="container-fluid content">
  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Welcome to Wolf Lacrosse</h1>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repellat, error inventore, molestiae enim dolores tenetur, consequatur eligendi dignissimos voluptas ut. Alias asperiores dolores totam dolor accusantium atque soluta cumque.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Upcoming Classes</h1>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repellat, error inventore, molestiae enim dolores tenetur, consequatur eligendi dignissimos voluptas ut. Alias asperiores dolores totam dolor accusantium atque soluta cumque.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
  </div>
  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Pictures</h1>
  </div>
</div>
