<div class="container-fluid">
  <div class="hero-img-wrap">
    <%= image_tag 'logo_duke.png', class: 'logo' %>
  </div>
  <div class="nav-wrap">
    <a href="/about"><button type="button" class="btn btn-default nav-button vcenter">about</button></a>
    <a href="#"><button type="button" class="btn btn-default nav-button">clinics</button></a>
    <a href="/faq"><button type="button" class="btn btn-default nav-button">FAQ</button></a>
    <a href="/contact"><button type="button" class="btn btn-default nav-button">Contact</button></a>
  </div>
</div>

<div class="container-fluid content">
  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Welcome to Wolf Lacrosse</h1>
    <p class="justify">I am planning to start my own series of clinics for willing attackman ranging from 6th to 10th grade. Midfielders are also welcomed because it is always beneficial to learn every position, but the clinic would be specified around attack play. Dodging, shooting, inside play, feeding, riding, leadership, training, an other aspects of the position will be at the core of the program.</p>
    <p class="justify">I have worked, coached, and attended hundreds of camps throughout my lacrosse youth experience. I believe there is a needed service for a more specialized and position oriented  skills clinic that puts development above all else. Through my lacrosse knowledge I would be able to improve young attackman's lacrosse IQ, skills, and work ethic through an attack and Duke specific series of teaching clinics.</p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Upcoming Clinics</h1>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repellat, error inventore, molestiae enim dolores tenetur, consequatur eligendi dignissimos voluptas ut. Alias asperiores dolores totam dolor accusantium atque soluta cumque.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime porro voluptates id libero. Pariatur vero delectus sunt cum, reiciendis dolores nihil eligendi perferendis id, hic aliquam accusamus tempora fugiat nisi.</p>
  </div>
  <div class="col-xs-10 col-xs-offset-1 centered">
    <h1>Pictures</h1>
  </div>
</div>
