.centered {
  text-align: center;
}

.justify {
  text-align: justify;
}

.hero-img-wrap {
  position: absolute;
  background-image: image-url('hero.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: 75%;
  width: 100%;
  left: 0;
  overflow: hidden;
}

.nav-wrap {
  /*display: inline-block;*/
  position: absolute;
  height: 10%;
  width: 100%;
  top: 65%;
  left: 0;
  background: rgba(0, 0, 0, .7);
  text-align: center;
}

.nav-wrap:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.nav-button {
  display: inline-block;
  margin-right: 5%;
  /*margin-top: 1.5%;*/
  vertical-align: middle;
}

.footer {
  margin-top: 4%;
  padding-top: 2em;
  background: rgb(43, 45, 46);
  color: rgb(255, 255, 255);
}

.footer h4 {
  padding-bottom: 1em;
}

.footer .social-media {
  text-align: center;
  padding-top: 1em;
}

.footer i {
  color: white;
  padding-right: 1em;
  padding-bottom: 1em;
}

.fa-facebook:hover {
  color: RGB(59, 87, 157);
}

.fa-twitter:hover {
  color: RGB(85, 172, 238);
}

.fa-linkedin:hover {
  color: RGB(7, 119, 180);
}

.fa-youtube-play:hover {
  color: red;
}

.footer .last-icon {
  padding-right: 0;
}
